<%= form_for(@dish) do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :spicy %><br>
    <%= f.check_box :spicy %>
  </div>
  <div class="field">
    <%= f.label :gf %><br>
    <%= f.check_box :gf %>
  </div>
  
  <div class="field">
    <%= f.label :newdate %><br>
    <%= f.date_field :newdate %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
