<% if notice %>
<p id="notice"><%= notice %> </p>
<% end %>

<div class="links">
  <%= link_to "Menu", controller: "store" %>
  <%= link_to "Your Favorites", controller: "favorites", action: "show", id: @favorite.id %>
</div>

<h1>Today's Menu</h1>

<% @dishes.each do |dish| %>
<div class="entry">
  <h3><%= dish.item %>
  
  <% if dish.spicy then %>
  <%= image_tag("spicy.png") %>
  <% end %>

   <% if dish.gf then %>
  <%= image_tag("gf.png") %>
  <% end %>
  
 <%= button_to 'Favorite', line_items_path(dish_id: dish) %>
  
  </h3>
</div>
<% end %>

<div class="legend">
<%= image_tag("spicy.png") %> = spicy <%= image_tag("gf.png") %> = gluten-free
</div>

